In [1]:
import pandas as pd
import numpy as np
import re
import random
from random import sample

In [2]:
df = pd.read_csv("files/tiburon3.csv")

1. Cread una columna nueva y una funci칩n que nos de el mes en el que ocurri칩 el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci칩n de mes. En ese caso devolved un nulo (NaN).

In [3]:
df.head(1)

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [4]:
df["date"].value_counts()

No date                 6
No date, Before 1963    5
Before 1906             4
Before 1958             4
18-Aug-2001             3
                       ..
18-Jun-2005             1
22-Jun-2005             1
25-Jun-2005             1
27-Jun-2005             1
1845-1853               1
Name: date, Length: 1522, dtype: int64

In [5]:
# Creamos una funci칩n para obtener el mes a partir de la columna date
def sacar_mes(col):
    patron = "[A-Z]\w+\-" # Creamos un patr칩n que nos coja una primera letra may칰scula seguida de varias letras y un gui칩n
    try:
        return re.findall(patron, col)[0].replace("-","") # Quitamos el gui칩n
        
    except:
        return np.nan # Si no tiene ese patr칩n, nos devolver치 un nan

In [6]:
# Creamos la columna "mes" aplicando la funci칩n sacar_mes
df["mes"] = df["date"].apply(sacar_mes)

In [7]:
df.head(2)

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date,mes
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018,Jun

In [7]:
# Comprobamos los valores de la columna nueva
df["mes"].value_counts()

Aug    162
Sep    154
Oct    148
Jul    148
Jun    137
Jan    129
Apr    126
May    107
Mar    107
Dec    104
Nov     99
Feb     97
Name: mes, dtype: int64

2. Vamos con la columna fatal_(y/n). Lo primero que ten칠is que hacer es evaluar los valores 칰nicos que hay. Esperar칤amos tener solo dos valores: y y n, pero tristemente no ser치 as칤 游땴. Cread una columna nueva y una funci칩n que devuelva 칰nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [8]:
df["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [9]:
# Creamos una funci칩n que nos devuelva Y o N, o Nan donde no est칠 ninguno de esos dos valores
def fatal(col):
    if col == "N" or col == "Y":
        return col
    else:
        return np.nan

In [10]:
# Creamos la columna deceso aplicando la funci칩n "fatal"
df["deceso"] = df["fatal_(y/n)"].apply(fatal)

In [11]:
df.head(1)

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date,mes,deceso
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N

In [12]:
df["deceso"].unique()

array(['N', 'Y', nan], dtype=object)

3. Seguid la misma l칩gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m치s: En este caso querremos tener dos valores 칰nicos F y M. De nuevo en la columna hay otros car치cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr칠is que usar la librer칤a random). En caso de que sea nulo, que la funci칩n devuelva nulo (np.nan).

In [13]:
df["sex_"].unique()

array(['F', 'M', 'lli', nan], dtype=object)

In [14]:
df["sex_"].value_counts()

M      1435
F       222
lli       1
Name: sex_, dtype: int64

In [15]:
def genero(col):
    if col == "F" or col == "M":
        return col
    elif col == "lli":
        return random.sample(("F","M"), 1)[0]
    else:
        return np.nan

In [16]:
df["genero"] = df["sex_"].apply(genero)

In [17]:
df["genero"].value_counts()

M    1435
F     223
Name: genero, dtype: int64

In [18]:
df.head(1)

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,sex_,...,time,species_,href,siglo,fatal_(y/n),injury,date,mes,deceso,genero
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N,F

4. Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.

In [19]:
df.drop(["date", "fatal_(y/n)","sex_"], axis=1, inplace= True)

In [20]:
df.columns

Index(['Unnamed: 0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'age', 'time', 'species_', 'href',
       'siglo', 'injury', 'mes', 'deceso', 'genero'],
      dtype='object')

5. Guardad el dataframe en un csv que usaremos m치s adelante

In [21]:
df.to_csv("files/tiburon4.csv")