In [91]:
import pandas as pd
import numpy as np

1. Cargad los tres ficheros nombrados anteriormente (attacks_historico.csv, attacks_adicional.csv y el csv que creamos en el ejercicio de pair programming Pandas IV) y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [92]:
df = pd.read_csv("files/tiburon2.csv")
df_historico = pd.read_csv("files/attacks_historico.csv")
df_adicional = pd.read_csv("files/attacks_adicional.csv")

In [93]:
df.head(2)

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1,6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [94]:
# Sacamos la información del que creamos en PandasIV
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1502 non-null   int64
 1   case_number  1502 non-null   object
 2   unnamed:_0   1502 non-null   int64
 3   year         1502 non-null   float64
 4   type         1502 non-null   object
 5   country      1502 non-null   object
 6   area         1502 non-null   object
 7   location     1502 non-null   object
 8   activity     1502 non-null   object
 9   name         1502 non-null   object
 10  sex_         1502 non-null   object
 11  age          1502 non-null   object
 12  time         1502 non-null   object
 13  species_     1502 non-null   object
 14  href         1502 non-null   object
 15  siglo        1502 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 187.9+ KB

In [95]:
# Sacamos la información del historico
df_historico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              170 non-null    int64
 1   Case Number             170 non-null    object
 2   Year                    170 non-null    float64
 3   Type                    170 non-null    object
 4   Country                 160 non-null    object
 5   Area                    124 non-null    object
 6   Location                119 non-null    object
 7   Activity                139 non-null    object
 8   Name                    161 non-null    object
 9   Sex                     156 non-null    object
 10  Age                     16 non-null     object
 11  Time                    10 non-null     object
 12  Species                 44 non-null     object
 13  Investigator or Source  169 non-null    object
 14  pdf                     170 non-null    object
 15  href formula            170 non-null    object
 16  href                    170 non-null    object
 17  Case Number.1           170 non-null    object
 18  Case Number.2           170 non-null    object
 19  original order          170 non-null    float64
 20  Unnamed: 22             0 non-null      float64
 21  Unnamed: 23             0 non-null      float64
dtypes: float64(4), int64(1), object(17)
memory usage: 29.3+ KB

In [96]:
# Sacamos la información del adicional
df_adicional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6288 entries, 0 to 6287
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6288 non-null   int64
 1   Case Number  6287 non-null   object
 2   Fatal (Y/N)  5751 non-null   object
 3   Injury       6258 non-null   object
 4   Date         6286 non-null   object
dtypes: int64(1), object(4)
memory usage: 245.8+ KB

In [97]:
# Sacamos los nombres de las columnas de los 3 dataframes
df.columns

Index(['Unnamed: 0', 'case_number', 'unnamed:_0', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'sex_', 'age', 'time',
       'species_', 'href', 'siglo'],
      dtype='object')

In [98]:
df_adicional.columns

Index(['Unnamed: 0', 'Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

In [99]:
df_historico.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Comparten la columna case number

In [100]:
# Miramos la forma de los 3. Observamos que tienen diferente número de registros
df.shape

(1502, 16)

In [101]:
df_historico.shape

(170, 22)

In [102]:
df_adicional.shape

(6288, 5)

Miramos los tipos de datos de las columnas

In [103]:
df.dtypes

Unnamed: 0       int64
case_number     object
unnamed:_0       int64
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
href            object
siglo           object
dtype: object

In [104]:
df_adicional.dtypes

Unnamed: 0      int64
Case Number    object
Fatal (Y/N)    object
Injury         object
Date           object
dtype: object

In [105]:
df_historico.dtypes

Unnamed: 0                  int64
Case Number                object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22               float64
Unnamed: 23               float64
dtype: object

2. Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [106]:
df.columns

Index(['Unnamed: 0', 'case_number', 'unnamed:_0', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'sex_', 'age', 'time',
       'species_', 'href', 'siglo'],
      dtype='object')

In [107]:
columnas_nuevas= {col: col.lower().replace(" ", "_") for col in df_historico.columns}
df_historico.rename(columns = columnas_nuevas, inplace= True)
df_historico.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [108]:
columnas_nuevas= {col: col.lower().replace(" ", "_") for col in df_adicional.columns}
df_adicional.rename(columns = columnas_nuevas, inplace= True)
df_adicional.columns

Index(['unnamed:_0', 'case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [109]:
# Eliminamos las columnas unnamed que se nos generan al guardar los DF en ficheros
df.drop(["Unnamed: 0", "unnamed:_0"], axis= 1, inplace=True)
df.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [110]:
# Eliminamos el df_historico las columnas que habíamos eliminado anteriormente en el df original
lista = ["unnamed:_0", "unnamed:_22","unnamed:_23" , "case_number.1", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"]
df_historico.drop(lista, axis = 1,inplace = True)
df_historico.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href'],
      dtype='object')

In [111]:
# comprobamos que sean iguales
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href', 'siglo'],
      dtype='object')

In [112]:
# Nos hemos dado cuenta de que nos falta la columna siglo en df_historico, la creamos
condiciones = [df_historico["year"] <2000, df_historico["year"]>=2000]
opciones = ["siglo-XX", "siglo-XXI"]
df_historico["siglo"] = np.select(condiciones,opciones)
df_historico.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href', 'siglo'],
      dtype='object')

In [113]:
# Hacemos la unión con pd.concat de los 2 DF
df_concat = pd.concat([df, df_historico], axis=0, ignore_index=True)
df_concat.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [114]:
# Comprobamos el número de filas, es la suma de los dos df originales
df_concat.shape

(1672, 14)

4. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

    📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

In [116]:
# Comprobamos las columnas que hay en df_adicional
df_adicional.columns

Index(['unnamed:_0', 'case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

Comprobamos que tiene la columna unnamed:0 que podemos eliminar

In [117]:
df_adicional.drop(["unnamed:_0"], axis= 1, inplace=True)
df_adicional.columns

Index(['case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

Vamos a hacer un left join porque el dataframe que más nos interesa es el df_concat

In [123]:
df_definitivo = pd.merge(left= df_concat, right= df_adicional, how="left", left_on= "case_number", right_on= "case_number")
df_definitivo.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018

In [124]:
df_definitivo.shape

(1672, 17)

5. Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [125]:
df_definitivo.to_csv("files/tiburon3.csv")