## Ejercicios de pair programming 16 de diciembre: Pandas VI, GROUPBY

Es el momento de poner en pr치ctica los groupby de pandas. 

Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.


El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Cargamos el archivo "tiburon3.csv"
df = pd.read_csv("files/tiburon3.csv")

쮺u치ntos ataques hubo por pa칤s? Devuelve un DataFrame.

游늷 NOTA Ordena los resultados de mayor a menor. 

Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values()

In [4]:
# Creamos un DF agrupando por pais y haciendo un recuento del n칰mero de casos
df_pais = df.groupby("country")["case_number"].count()
# Ordenamos el DF de mayor a menor
df_pais_ord= df_pais.reset_index().sort_values(by = "case_number", ascending= False)
df_pais_ord.head()

         country  case_number
91           USA          741
3      AUSTRALIA          343
78  SOUTH AFRICA          234
4        BAHAMAS           29
59   NEW ZEALAND           21

쮺u치ntos ataques ha habido por a침o? Devuelve un DataFrame. 

De nuevo ordena los resultados de mayor a menor.

In [5]:
# Creamos un DF agrupando por a침o y haciendo un recuento del n칰mero de casos
df_pais_a침o = df.groupby("year")["case_number"].count()
# Ordenamos el DF de mayor a menos
df_pais_a침o_ord= df_pais_a침o.reset_index().sort_values(by = "case_number", ascending= False)

In [6]:
df_pais_a침o_ord.head()

       year  case_number
0       0.0          125
143  2015.0           68
135  2007.0           57
140  2012.0           54
130  2002.0           53

쮺u치ntos ataques hubo por a침o y sexo? Devolved un DataFrame solo del a침o 2000 en adelante.

In [7]:
# Creamos un DF filtrando por condici칩n, que sean despu칠s del 2000, agrupando por a침o y sexo, y contando el n칰mero de casos
pais_a침o_genero = df[df["year"]>=2000].groupby(["year" , "sex_"])["case_number"].count()
df_pais_a침o_genero= pais_a침o_genero.reset_index()

In [8]:
df_pais_a침o_genero.head()

     year sex_  case_number
0  2000.0    F            7
1  2000.0    M           26
2  2001.0    F            3
3  2001.0    M           26
4  2002.0    F            6

Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. 

쮺u치ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [9]:
# Sacamos los nombres de las columnas para comprobar c칩mo est치n escritas
df.columns

Index(['Unnamed: 0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo', 'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [10]:
# Comprobamos los diferentes valores que tiene la columna "fatal"
df["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [11]:
# Creamos un DF con varias condiciones, que el pais sea "USA", "Australia" o "Sud치frica" y que sean letales, agrupando por pais y g칠nero y sumando el n칰mero de casos
paises_casos = df[((df["country"]== "USA") | (df["country"]== "AUSTRALIA") | (df["country"]== "SOUTH AFRICA")) & (df["fatal_(y/n)"]=="Y")].groupby(["country", "sex_"])["case_number"].count()
df_paises_casos = paises_casos.reset_index()

In [12]:
df_paises_casos.head(6)

        country sex_  case_number
0     AUSTRALIA    F           12
1     AUSTRALIA    M           87
2  SOUTH AFRICA    F            3
3  SOUTH AFRICA    M           47
4           USA    F            5
5           USA    M           38

Usando el DataFrame creado en el ejercicio anterior. 쮼n qu칠 pa칤s hubo m치s ataques?

In [13]:
# Hacemos un DF con los ataques por pais, sin tener en cuenta el g칠nero
caso_5= pd.DataFrame(df_paises_casos.groupby("country").sum())
caso_5.reset_index(inplace= True)
# Filtramos con la condici칩n de que el n칰mero de casos sea el m치ximo
caso_5[caso_5["case_number"]== caso_5["case_number"].max()]

/tmp/ipykernel_2759/2258767909.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  caso_5= pd.DataFrame(df_paises_casos.groupby("country").sum())

     country  case_number
0  AUSTRALIA           99

쯈u칠 y cu치ntos tipos de ataques hubo por pa칤s?

In [14]:
# Creamos un DF agrupando por pais y tipo de ataque
tipo_pais = df.groupby(["country", "type"])["case_number"].count()
df_tipo_pais = tipo_pais.reset_index()

In [15]:
df_tipo_pais.head(10)

          country          type  case_number
0  AMERICAN SAMOA    Unprovoked            2
1       ARGENTINA    Unprovoked            1
2           ASIA?    Unprovoked            1
3       AUSTRALIA          Boat            1
4       AUSTRALIA       Boating            4
5       AUSTRALIA       Invalid           18
6       AUSTRALIA      Provoked           27
7       AUSTRALIA  Sea Disaster            3
8       AUSTRALIA    Unprovoked          290
9         BAHAMAS       Invalid            1